@using System.Web.Mvc;
@using ClayApplication.Service.ViewModel

@model ClayApplication.Service.ViewModel.DoorAccessViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Door Details</h2>
<div>
    <div>
        <strong>Name: </strong><span>@Model.Door.Name</span>
    </div>
    <div>
        <strong>Address: </strong><span>@Model.Door.Address</span>
    </div>
    <div>
        <div class="page-header">
            <strong>People with access</strong>
        </div>
        <div class="table floating-div">
            <header class="floating-div">
                <strong class="col-lg-2">Name</strong>
                <strong class="col-lg-2">Authorization</strong>
                <strong class="col-lg-2">Edit authorization</strong>
            </header>
            <div class="floating-div tab-content">
                @foreach (var user in Model.AuthorizedUsers)
                {
                    <div class="floating-div">
                        @Html.Hidden("userId", user.User.Id)
                        <div class="col-lg-2">@string.Format("{0} {1}", user.User.FirstName, user.User.LastName)</div>
                        <div class="col-lg-2">@(user.IsAuthorized ? "Yes" : "No")</div>
                        <div class="col-lg-2">@Html.ActionLink("Edit", "EditAuthorisation", "DoorAccess",
                                                new { doorId = Model.Door.Id, userId = user.User.Id }, null)</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="icon-bar">
        <div>@Html.ActionLink("Manage access", "AddAccess", new { id = Model.Door.Id })</div>
    </div>
</div>

