@using System.Web.Mvc;
@model ClayApplication.Service.ViewModel.UserViewModel

@{
    ViewBag.Title = "MyDoors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Doors</h2>

<div class="table">
    <header class="floating-div">
        <strong class="col-lg-2 strong">Name</strong>
        <strong class="col-lg-2 strong">Address</strong>
        <strong class="col-lg-2 strong">Status</strong>
        <strong class="col-lg-2 strong">Manage</strong>
        <strong class="col-lg-2 strong">Log</strong>
    </header>
    <div class="floating-div tab-content">
        @foreach (var door in Model.MyDoors)
        {
            <div class="floating-div">
                <div class="col-lg-2">@door.Name</div>
                <div class="col-lg-2">@door.Address</div>
                <div class="col-lg-2">@(door.Locked ? "Locked" : "Unlocked")</div>
                <div class="col-lg-2">@Html.ActionLink("Manage", "Details", "Door", new { id = door.Id }, null)</div>
                <div class="col-lg-2">@Html.ActionLink("View Logs", "ViewLogs", "Door", new { id = door.Id }, null)</div>
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Add new door", "Create", "Door", new { userId = Model.Id }, null)
    </div>
</div>
